@page
@model MyBackPain.Pages.BackPains.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BackPain[0].DoIHaveBackPain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackPain[0].Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackPain[0].IsItMyFault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackPain[0].DidITakeIbuprofen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackPain[0].DoIShakeMyFistsAtTheSky)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BackPain) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoIHaveBackPain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsItMyFault)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DidITakeIbuprofen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoIShakeMyFistsAtTheSky)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
